<!-- Use if you want to show previous and next for posts within a category. -->
{% if page.categories %}
  {% assign category = page.categories[0] %}
  {% assign posts = site.categories[category] %}
  {% for post in posts %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in posts %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if prev_post %}
<div style="margin-top: 32px; margin-bottom: 32px; float: left; padding-left: 8px;">
  <a class="link-primary" style="font-size: 18px; font-weight: 400;" href="{{ prev_post.url | relative_url }}">
    ← {{ prev_post.title }}
  </a>
</div>
{% endif %}
{% if next_post %}
<div style="margin-bottom: 32px; float: right; padding-right: 8px;">
  <a class="link-primary" style="font-size: 18px; font-weight: 400;" href="{{ next_post.url | relative_url }}">
    {{ next_post.title }} →
  </a>
</div>
{% endif %}
