---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <div style="margin-top: 32px;">
    {% include meta.html date=page.date content=page.content category=page.category stars=page.stars %}
  </div>
  <h1 style="font-size:32px; font-weight: 400; margin-top: 0; margin-bottom: 16px" itemprop="name headline">{{ page.title }}</h1>
  <div class="prose" itemprop="articleBody">
    {{ content | replace: '<a href="http', '<a rel="nofollow noopener" target="_blank" href="http' }}
  </div>

  <p style="margin-top: 32px;"><i>If you like this post, you can follow my blog via <a href="http://mertbulan.com/feed.xml">RSS</a> or subscribe to <a href="https://mailchi.mp/3951089e8c9d/mert-bulans-personal-blog">my newsletter</a>.</i></p>
</article>
{% include previous-next_has-categories.html %}
