---
layout: default
---

<article style="max-width:50em; margin-left: auto; margin-right: auto; padding-left: 16px; padding-right: 16px;" itemscope itemtype="http://schema.org/BlogPosting">
  <div style="margin-top: 32px;">
    {% include meta.html date=page.date content=page.content %}
  </div>
  <h1 style="font-size:36px; word-wrap:break-word; font-weight: 400; margin-top: 0" itemprop="name headline">{{ page.title }}</h1>
  <div class="prose" itemprop="articleBody" style="text-align: justify;">
    {{ content | replace: '<a href="http', '<a rel="nofollow noopener" target="_blank" href="http' }}
  </div>

  <p style="margin-top: 32px;"><i>If you like this post, you can follow my blog via <a href="http://mertbulan.com/feed.xml">RSS</a> or subscribe to <a href="https://mailchi.mp/3951089e8c9d/mert-bulans-personal-blog">my newsletter</a>.</i></p>
</article>

<div style="max-width:50em; margin-left: auto; margin-right: auto;">
  {% include previous-next_has-categories.html %}
</div>
