---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <div style="margin-top: 32px;">
    {% include meta.html date=page.date content=page.content category=page.category stars=page.stars %}
  </div>
  <h1 style="font-size:32px; font-weight: 400; margin-top: 0; margin-bottom: 16px" itemprop="name headline">{{ page.title }}</h1>
  <div class="prose" itemprop="articleBody">
    {{ content | replace: '<a href="http', '<a rel="nofollow noopener" target="_blank" href="http' }}
  </div>

  <p style="margin-top: 32px;"><i>If you find this post valueble, you can consider <a rel="nofollow noopener" target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=X7XDMXGHAY5TG">a donation</a>. You can get updates about my blog via <a rel="nofollow noopener" target="_blank" href="http://mertbulan.com/feed.xml">RSS</a> or subscribe to <a rel="nofollow noopener" target="_blank" href="https://mailchi.mp/3951089e8c9d/mert-bulans-personal-blog">my newsletter</a>. You can also follow me <a rel="nofollow noopener" target="_blank" href="https://twitter.com/mertbio">on Twitter.</a></i></p>
</article>
{% include previous-next_has-categories.html %}
